body{
    font-family: 'Inter', sans-serif;
}
/* Hero-image */
.hero-image{
    background-image: url('/img/header-1/header-background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Hero-image ends*/

/* Navbar */
.text-sup{
    font-size: 10px;
}
.nav-link{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(17, 24, 39, 1);
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}
/* Navbar ends*/

/* Header-1 Content */
.header-1>.header-box-1>.card{
    background-color: transparent;
    border: none;
}
.header-1>.header-box-1>.card>.card-body>.card-title{
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.025em;
    color: rgba(17, 24, 39, 1);
}
.header-1>.header-box-1>.card>.card-body>.card-text{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: rgba(55, 65, 81, 1);
}
.btn-get-started{
    background-color:rgba(124, 58, 237, 1) ;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.text-watch-video{
    color: rgba(124, 58, 237, 1);
}

.play{
    border: 1px solid rgba(124, 58, 237, 1);
    border-radius: 50%;
    color: rgba(124, 58, 237, 1);
    padding: 5px 5px 5px 7px;
}

/* Header-1 Content End */

/*  Tailor-Made Features  */
.header-tailor{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.025em;
    color: rgba(17, 24, 39, 1);
}
.text-tailor{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 0px 200px;
    color: rgba(17, 24, 39, 1);
}
.header-tailor-features{
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: rgba(17, 24, 39, 1);
}
.text-tailor-features{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(17, 24, 39, 1);
}
/*  Tailor-Made Features End */

/* Real Stories-Comments  */
.bg-realStories{
    background: #D5FAFC;
    position: relative;
    height: 100%;
    width: 100%;
}
.logo-66{
    position: absolute;
    opacity: 0.1;
}
.header-realStories{
    margin-top: 11px;
    margin-left: 58px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.025em;
    
}
.header-realStories-text{
    margin-top: 11px;
    margin-left: 58px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

/* Airbnb Card Features -  Hotspot Card Features - Strapi Card Features */
.card-airbnb{
    height: 312px;
    width: 488px;
    margin-top: 140px;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
}
.airbnb-text,
.hotspot-text,
.strapi-text{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.airbnb-title,
.hotspot-title,
.strapi-title{
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: rgba(17, 24, 39, 1);
}
.airbnb-job,
.hotspot-job,
.strapi-job{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(107, 114, 128, 1);
}

.hotspot-features {
    margin-top: 80px;
    margin-left: 200px;
}
.card-hotspot{
    height:380px;
}
.card-strapi{
    height: 256px;
    width: 384px;
}

 /* Real Stories-Comments end */

 /* Achievements */
.header-achievements,
.header-tools{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.025em;
    color: rgba(17, 24, 39, 1);
}
.text-achievements,
.text-tools{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(17, 24, 39, 1);
}
.title-icon-achievement{
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.025em;
    color: rgba(17, 24, 39, 1);
}
.text-icon.achievement{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(17, 24, 39, 1);
}
 /* Achievements end*/

 /* Manage */
.bg-manage{
    background-color: rgba(29, 181, 190, 1);
}
.manage-title{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.025em;
    color: rgba(17, 24, 39, 1);
}
.manage-text{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(17, 24, 39, 1);
}
 /* Manage end*/

 /* Footer */
.bg-footer{
    background: #000000;
}
.footer-copyright,
.footer-getapp-text{
    color: rgba(209, 213, 219, 1);
}
 /* Footer end*/
